$grid-breakpoints: (
	xs: (
		size: 470px,
		gutter: 16px
	),
	sm: (
		size: 576px,
		gutter: 16px
	),
	md: (
		size: 640px,
		gutter: 16px
	),
	lg: (
		size: 960px,
		gutter: 16px
	),
	xl: (
		size: 1300px,
		gutter: 20px
	),
	xxl: (
		size: 1690px,
		gutter: 20px
	)
);

// $container-max-widths: (
// 	xs: 540px,
// 	sm: 540px,
// 	md: 620px,
// 	lg: 940px,
// 	xl: 1580px
// );

$colors: (
	brand: (
		base: #2d6dba,
		inversed: #ffffff,
		hover: darken(#2d6dba, 5),
		rgb: toRGB(#2d6dba),
		secondary: (
			base: #71a2db,
			hover: darken(#71a2db, 5),
			inversed: #ffffff
		)
	),
	text: (
		main: (
			base: #222222
		),
		secondary: (
			base: #7f7f7f
		)
	),
	header: (
		bar: (
			base: #686868
		)
	),
	body: (
		base: #fff,
		rgb: toRGB(#fff)
	),
	ligth-gray: (
		200: (
			base: darken(#ffffff, 5)
		)
	),
	overlay: (
		(
			80:
				rgba(
					$color: #fff,
					$alpha: 0.8
				),
			70:
				rgba(
					$color: #fff,
					$alpha: 0.7
				),
			60:
				rgba(
					$color: #fff,
					$alpha: 0.6
				)
		)
	)
	// header: (
// 	bar: (
// 		base: getColorPalette(gray, 900),
// 		hover: getColorPalette(gray, 600)
// 	)
// ),
// text: (
// 	main: (
// 		base: getColorPalette('dark', 900)
// 	),
// 	secondary: (
// 		base: getColorPalette('light', 800)
// 	)
// )
);

:root {
	// @each $key, $tones in $color-palette {
	// 	@if is-map($tones) {
	// 		@each $key-tone, $value in $tones {
	// 			#{$uiKitPalettePreffix}-#{''+$key}-#{$key-tone}: #{$value};
	// 		}
	// 	} @else {
	// 		#{$uiKitPalettePreffix}-#{''+$key}: #{'' + $tones};
	// 	}
	// }
	@include inserRootVariablesDeep(
		(
			color: $colors,
			gutter: 16px,
			container: 100%,
			grid-breakpoint: $grid-breakpoints
		)
	);

	@each $breakpoint, $breakpoint-key in $grid-breakpoints {
		@media screen and (min-width: get-breakpoint-size($breakpoint)) {
			--gutter: #{get-breakpoint-gutter($breakpoint)};
			--container: calc(
				#{get-breakpoint-size($breakpoint)} - var(--gutter) * 2
			);
		}
	}
}
:root {
	// grid
	// --gutter: 8px;
	// --container: 1660px;
	// --grid-breakpoint-xxs: 375px;
}

body.app-night-theme {
	$colorsNight: (
		text: (
			main: (
				base:
					rgba(
						$color: #fff,
						$alpha: 0.9
					)
			),
			secondary: (
				base:
					rgba(
						$color: #fff,
						$alpha: 0.5
					)
			)
		),
		body: (
			base: #111
		),
		overlay: (
			(
				80:
					rgba(
						$color: #000000,
						$alpha: 0.8
					),
				70:
					rgba(
						$color: #000000,
						$alpha: 0.7
					)
			)
		)
	);
	@include inserRootVariablesDeep(
		(
			color: $colorsNight
		)
	);
}

// @media screen and (min-width: get-breakpoint-size('xxs')) {
// 	:root {
// 		--gutter: 16px;
// 	}
// }
